body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.container{
  height: 100%;
  font-size: 24px;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: 1fr 3fr;
}

.sidebar{
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  background-color: #1992d4;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 20px 0 0 20px;
}

.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar ul>li{
  display: flex;
  padding: 0 0 20px 0;
  gap: 20px;
  cursor: pointer;
}

.icon{
  width: 30px;
  height: 30px;
}
.iconWhite>img{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(127deg) brightness(101%) contrast(105%);
}
.iconYellow>img{
  filter: invert(75%) sepia(90%) saturate(481%) hue-rotate(347deg) brightness(102%) contrast(96%);
}
.iconCoral>img{
  filter: invert(66%) sepia(58%) saturate(2681%) hue-rotate(313deg) brightness(92%) contrast(105%);
}
.iconPurple>img{
  filter: invert(31%) sepia(80%) saturate(7202%) hue-rotate(259deg) brightness(100%) contrast(87%);
}
.iconGreen>img{
  filter: invert(51%) sepia(20%) saturate(1034%) hue-rotate(115deg) brightness(96%) contrast(95%);
}

.profileIcon{
  width: 30%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
}

.branding{
  display: flex;
  gap: 20px;
}

.header{
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  box-shadow: 5px 5px 5px #d4dae1;
  padding: 20px 20px 20px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header>div:nth-child(1){
  display: grid;
  grid-template-columns: 6fr auto;
}

.searchBarWrap{
  display: flex;
  gap: 10px;
  height: 30%;
}

.searchBar{
  border-radius: 20px;
  width: 70%;
  height: 100%;
  border: 1px solid #e2e8f0;
  background-color: #e2e8f0;
}

.utilsWrap{
  display: flex;
  gap: 10px;
}

.header>div:nth-child(2){
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.greetingsWrap{
  display: flex;
  gap: 10px;
}

.buttonWrap{
  display: flex;
  gap: 30px;
}

.buttonWrap button{
  height: 40%;
  width: 100px;
  border-radius: 20px;
  background-color: #1992d4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.mainContent{
  background-color: #e2e8f0;
  display: grid;
  grid-template: auto / 4fr 1fr;
  padding: 20px 20px 80px 20px;
  gap: 20px;
}

.mainContentTitles{
  margin-bottom: 10px;
}

.projectWrap{
  display: flex;
  flex-direction: column;
}

.cardWrap{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.card{
  max-height: 100%;
  background-color: white;
  border-left: 5px solid #f0b429;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  box-shadow: 5px 5px 5px #d4dae1;
}

.card>p{
  font-size: 1.2rem;
}

.cardIconsWrap{
  display: flex;
  justify-content: end;
  gap: 20px;
}

.socialWrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.notiWrap{
  display: flex;
  flex-direction: column;
}
.notiWrap>div{
  flex: 1;
}

.columnCard{
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d4dae1;
}
.columnCard p{
  font-size: 0.8rem;
}
.columnCard>div:not(:first-child){
  padding-top: 10px;
}
.columnCard>div:not(:last-child){
  border-bottom: 1px solid #e2e8f0;
}

.trendingColumnCard>div{
  border-bottom: none !important;
}

.trendingProfiles{
  display: flex;
  gap: 10px;
}

.trendingTitleWrap>div{
  font-size: 1.2rem;
}
.trendingTitleWrap>p{
  margin-top: 5px;
}