body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.container{
  height: 100%;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

.header{
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

.sidebar{
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  background-color: #1992d4;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 20px 0 0 20px;
}

.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar ul>li{
  display: flex;
  border: 1px solid red;
  padding: 0 0 20px 0;
}

.icon{
  width: 30px;
  height: 30px;
  border: 1px solid yellow;
}

.header{
  padding: 20px 20px 20px 20px;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header>div:nth-child(1){
  display: grid;
  grid-template-columns: 6fr auto;
}

.searchBarWrap{
  display: flex;
  gap: 10px;
  height: 30%;
}

.searchBar{
  border-radius: 20px;
  width: 50%;
}

.utilsWrap{
  display: flex;
  gap: 10px;
}

.header>div:nth-child(2){
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.greetingsWrap{
  display: flex;
  gap: 10px;
}

.buttonWrap{
  display: flex;
  gap: 30px;
}

.buttonWrap button{
  height: 40%;
  width: 100px;
  border-radius: 20px;
  background-color: #1992d4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.mainContent{
  background-color: #e2e8f0;
  display: grid;
  grid-template: auto / 4fr 1fr;
  padding: 20px 20px 80px 20px;
  gap: 20px;
}

.mainContentTitles{
  margin-bottom: 10px;
}

.cardWrap{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.card{
  height: 70%;
  width: 60%;
  background-color: white;
  border-left: 5px solid #f0b429;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
}

.card, p{
  font-size: 1rem;
}

.notiWrap{
  display: flex;
  flex-direction: column;
}
.notiWrap>div{
  flex: 1;
}

.columnCard{
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
}
.columnCard p{
  font-size: 0.8rem;
}
.columnCard>div:not(:first-child){
  padding-top: 10px;
}
.columnCard>div:not(:last-child){
  border-bottom: 1px solid #e2e8f0;
}
