body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  height: 100%;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

.header{
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

.sidebar{
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  background-color: #1992d4;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar ul{
  padding: 0;
  list-style: none;
}
.sidebar ul>li{
  display: flex;
  border: 1px solid red;
}
.sidebar ul>li>div{
  border: 1px solid yellow;
}

.icon{
  width: 50px;
}